.categories_list {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  height: 50px;
  align-items: center;
}
.categories_list::-webkit-scrollbar {
  display: none;
}
.category {
  letter-spacing: 6px;
  min-width: 170px;
}
